.wrapper {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  @apply flex items-baseline px-10 py-2 bg-gray-900 text-white sticky top-0 z-50 shadow-md;
}
.header--title {
  @apply text-2xl font-semibold text-white cursor-pointer;
}
.header--link {
  @apply text-white text-sm;
  @extend .link;
}

.link {
  @apply cursor-pointer;
}
.link:hover {
  @apply underline text-yellow-400;
}
.link:focus {
  @apply outline-none;
}

@screen md {
  .wrapper {
    width: 80%;
  }
  .header {
    @apply px-16 py-2;
  }
  .header--link {
    @apply text-base;
  }
}
